body {
    text-align: center;
}

table {
    margin: 0 auto;
    min-width: 40%;
    border: 3px red;
    border-collapse: collapse;
}

table tr {
    line-height: 30px;
}

table tr th {
    background: yellow;
    color: #FFF;
}

table tr td {
    border: 1px solid #CCC;
    margin: 5px;
    color: lime;
    border-radius: 5px;
    text-align: center;
}

a {
    text-decoration: none;
}

.id-fieldP {
    width: 40px;
}

.column {
    width: 70px;
}

.action-column {
    width: 50px;
}

.button-delete {
    background-color: red;
}

.button-update {
    background: yellow;
}

.button-save {
    background-color: green;
}
